<div class="body-full">

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <button type="button" class="btn btn-primary" style="height: 40px;" routerLink="/listafilmes">Lista de filmes</button>
    <div class="innolevels"><span>Processo Seletivo - Innolevels (Grid CSS3)</span></div>
  </div>

  <div>
    <section class="grid grid-template-areas-4">
      <div class="item-1">item 1</div>
      <div class="item-2">item 2</div>
      <div class="item-3">item 3</div>
    </section>
  </div>
</div>
